
- var buildId = this.props.params.buildId;
- var total = this.state.data.total;
- var output = this.state.data.output;

div
	| build: 
	span= buildId

div
	| lines in total: 
	span= total

div
	| from: 
	input(type="text", value=this.state.from, onChange=this.onFromChange)

br
.terminal(style="width: 900px; float: left;")
	.terminal_code(ref="code")!= output

div.terminal-virtual-scroll(
	style="width: 15px; height: 320px; overflow: scroll; float: clear;",
	onScroll=this.onVirtualScroll
)
	- var height = total * 15;
	div(style="height: #{height}px;")
div
	| virtual scroll top:
	span= this.state.virtualScrollTop
