mixin statusText(build)
	if build.status === 'in-progress'
		span in progress

	if build.status === 'queued'
		span queued

	if build.status === 'done'
		span done

	if build.status === 'error'
		span error

- var build = this.props.build;

.build(class="build__#{build.status}")
	.build_controls.pull-right
		a(href="javascript:void(0);", onClick=this.onBuildSelect(build.id))
			i.fa.fa-2x.fa-repeat(title="Rebuild", onClick=this.onRebuildProject(build.project.name))

	.build_header
		if build.status !== 'queued'
			Link(to="build", params={id: build.id})
				span= build.project.name
		else
			span= build.project.name

		if build.number
			span 
			span #
			span= build.number

		if build.waitReason
			span  (
			span= build.waitReason
			span , waiting)

		if build.status === 'in-progress' && build.currentStep
			span  (
			span= build.currentStep
			span )
	div
		if build.scm
			span.build_info
				i.fa.fa-fw.fa-code-fork
				span= build.scm.rev.id

			span.build_info
				i.fa.fa-fw.fa-comment-o
				| 
				span= build.scm.rev.comment

		if build.endDate
			span.build_info
				i.fa.fa-fw.fa-clock-o
				| builded at 
				DateTime(date=new Date(build.endDate))
		else
			if build.startDate
				span.build_info
					i.fa.fa-fw.fa-clock-o
					| started at 
					DateTime(date=new Date(build.startDate))
			else
				span.build_info
					i.fa.fa-fw.fa-clock-o
					| queued at 
					DateTime(date=new Date(build.createDate))
