mixin statusText(build)
	if build.status === 'in-progress'
		span in progress

	if build.status === 'queued'
		span queued

	if build.status === 'done'
		span done

- var build = this.props.build;

.build(class="build__#{build.status}")
	.build_controls.pull-right
		a(href="javascript:void(0);", onClick=this.onBuildSelect(build.id))
			i.fa.fa-2x.fa-repeat(title="Rebuild", style={marginRight: '15px'}, onClick=this.onRebuildProject(build.project.name))
		a(href="javascript:void(0);", onClick=this.onShowTerminal)
			i.fa.fa-2x.fa-terminal(title="Rebuild")

	.build_header
		a(href="javascript:void(0)")= build.project.name
		if build.number
			span 
			span #
			span= build.number
	div
		if build.scm
			span.build_info
				i.fa.fa-fw.fa-code-fork
				span= build.scm.rev.id

			span.build_info
				i.fa.fa-fw.fa-comment-o
				| 
				span= build.scm.rev.comment

		if build.endDate
			span.build_info
				i.fa.fa-fw.fa-clock-o
				| builded at 
				DateTime(date=new Date(build.endDate))
		else
			if build.startDate
				span.build_info
					i.fa.fa-fw.fa-clock-o
					| started at 
					DateTime(date=new Date(build.startDate))
			else
				span.build_info
					i.fa.fa-fw.fa-clock-o
					| queued at 
					DateTime(date=new Date(build.createDate))

	if this.state.showTerminal
		.build_terminal
			Terminal(build=build)
