mixin statusBadge(build)
	if build.status === 'in-progress'
		span.label.label-info in progress

	if build.status === 'queued'
		span.label.label-default queued

	if build.status === 'done'
		span.label.label.sm.label-success done

	if build.status === 'error'
		span.label.label-danger error

div.row
	if this.state.build
		.col-md-8
			h1
				.pull-right(style={fontSize: '22px'})
					mixin statusBadge(this.state.build)
				span Build #
				span= this.state.build.number

			.text-muted(style={marginTop: '-10px'})
				| Initiated by 
				- var initiator = this.state.build.initiator;
				if initiator.type === 'user'
					span user
				else if initiator.type === 'build'
					Link(to="project", params={name: initiator.project.name})
						span= initiator.project.name
					| 
					| during the 
					| 
					Link(to="build", params={id: initiator.id})
						span build #
						span= initiator.number
				else
					span= initiator.type

			hr

			.build-view_info
				if this.state.build.error
					if this.state.build.error.message
						.text-center.alert.alert-danger
							| Error:
							div= this.state.build.error.message
					if this.state.build.error.stderr
						pre= this.state.build.error.stderr
				.row
					.col-md-6
						p 
							Scm(scm=this.state.build.project.scm.type)
							| 
							| Project 
							Link(to="project", params={name: this.state.build.project.name})
								span= this.state.build.project.name

						p
							i.fa.fa-fw.fa-clock-o
							span 
							if this.state.build.startDate
								span Started 
								DateTime(value=this.state.build.startDate)
							else
								span Queued 
								DateTime(value=this.state.build.createDate)

						if this.state.build.status !== 'in-progress'
							p
								i.fa.fa-fw.fa-circle
								| 
								| Finished 
								if this.state.build.endDate
									DateTime(value=this.state.build.endDate)
								else
									| -
					- var rev = this.state.build.scm && this.state.build.scm.rev || {};
					.col-md-6
						p
							i.fa.fa-fw.fa-user
							| 
							| Commit author
							| 
							span= rev.author || '-'
						p
							i.fa.fa-fw.fa-code-fork
							| 
							| Revision
							| 
							span= rev.id || '-'

						p
							i.fa.fa-fw.fa-comment-o
							| 
							| Comment
							| 
							span= rev.comment || '-'

			h2
				i.fa.fa-fw.fa-terminal
				| 
				| Console output
			.build-view_terminal
				Terminal(build=this.state.build.id)
