if this.state.build
	h2
		span= this.state.build.project.name
		span  build #
		span= this.state.build.number

	div
		| Initiated by 
		- var initiator = this.state.build.initiator;
		if initiator.type === 'user'
			span user
		else if initiator.type === 'build'
			span= initiator.project.name
			span  build #
			span= initiator.number
		else
			span= initiator.type

	if this.state.build.startDate
		div
			| Started at 
			if this.state.build.startDate
				DateTime(date=new Date(this.state.build.startDate))
			else
				| -
	else
		div
			| Queued at 
			if this.state.build.createDate
				DateTime(date=new Date(this.state.build.createDate))
			else
				| -

	div
		| Built at 
		if this.state.build.endDate
			DateTime(date=new Date(this.state.build.endDate))
		else
			| -

	div
		if this.state.build.error
			| Error: 
			span= this.state.build.error.message

			if this.state.build.error.stderr
				div stderr: 
				pre= this.state.build.error.stderr

	.row
		.col-md-8
			Terminal(build=this.state.build.id)
