.builds.builds__timeline.builds__timeline-small
	each item in this.state.items
		.builds_item(key=item.id, class="builds_item__#{item.status}")
			.builds_inner
				.row
					//- .builds_content
						//- .builds_status
						//- 	.status.status__small(class="status__#{item.status}")

					.builds_header
						Link(to="build", params={id: item.id})
							span build #
							span= item.number

					.builds_controls
						if item.status === 'in-progress'
							.builds_progress
								if item.project.avgBuildDuration
									Progress(build=item)

						if !item.endDate
							DateTime(value=item.endDate)
