.row 
	.col-md-8
		h1
			.pull-right
				span.badge.badge-default= this.state.project.scm ? this.state.project.scm.rev : ''

			Scm(scm=this.state.project.scm ? this.state.project.scm.type : '')
			span= this.state.project.name

		hr
		div.text-muted
			- var lastDoneBuild = this.state.project.lastDoneBuild;
			p Last successfully build: 
				if lastDoneBuild
					| build #
					span= lastDoneBuild.number
					|  at 
					DateTime(date=new Date(lastDoneBuild.endDate))
				else
					| -

			p Current successfully streak: 
				if lastDoneBuild
					span= this.state.project.doneBuildsStreak
				else
					| -

			p Last build duration: 
				if lastDoneBuild
					span= lastDoneBuild.endDate - lastDoneBuild.startDate
				else
					| -

			p Average build duration: 
				if this.state.project.avgBuildDuration
					span= this.state.project.avgBuildDuration
				else
					| -

		h2
			i.fa.fa-fw.fa-history
			span 
			span Build history
		Builds()
