div
	h1.page-header.clearfix
		.pull-right
			button.btn.btn-sm.btn-primary.dropdown-toggle(
				data-toggle="dropdown",
				aria-expanded="false",
				disabled="true"
			)
				| target revision: 
				span= this.state.project.scm ? this.state.project.scm.rev : ''
			| 
			if this.state.project.name
				button.btn.btn-sm.btn-success(onClick=this.onBuildProject)
					i.fa.fa-fw.fa-play
					| 
					span Build
		div
			Scm(scm=this.state.project.scm ? this.state.project.scm.type : '')
			span= this.state.project.name

	div.text-muted
		- var lastDoneBuild = this.state.project.lastDoneBuild;
		p Last successfully built: 
			if lastDoneBuild
				DateTime(value=lastDoneBuild.endDate)
				| 
				| (build #
				span= lastDoneBuild.number
				| )
			else
				| -

		p Current successfully streak: 
			if lastDoneBuild
				span= this.state.project.doneBuildsStreak.buildsCount
			else
				| -

		p Last build duration: 
			if lastDoneBuild
				Duration(value=(lastDoneBuild.endDate - lastDoneBuild.startDate))
			else
				| -

		p Average build duration: 
			if this.state.project.avgBuildDuration
				Duration(value=this.state.project.avgBuildDuration)
			else
				| -

	h2
		i.fa.fa-fw.fa-history
		span 
		span Build history

	Builds(projectName=this.props.params.name)
